body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    height: 20px;
}

#logo {
    width: 40px;
    height: auto;
}

#logo:hover {
    content: url("./images/Void_Heart.webp");
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}


/* SECTION1 */

.content-1 {
    height: 400px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

#map-hallownest {
    max-width:100%;
    height: auto;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECTION 2 */
.content-2 {
    height: 400px;
    width: auto;
    background-image: url("./images/Menu_Theme_Hidden_Dreams.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characters {
    display: flex;
    gap: 20px;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}