* {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#main {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    height: 20px;
}

#logo {
    width: 40px;
    height: auto;
}

#logo:hover {
    content: url("./images/Void_Heart.webp");
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}


/* Shared section class */
.section {
    max-width: 100%;
    min-height: 400px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* SECTION1 */
#content-1 {
    background-image: url("./images/Menu_Theme_Lifeblood.webp");
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#map-hallownest {
    height: 350px;
    width: auto;
}


/* SECTION 2 */
#content-2 {
    background-image: url("./images/Menu_Theme_Hidden_Dreams.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characters {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}


/* SECTION 3 */
#content-3 {
    background-image: url("./images/Menu_Theme_Godmaster.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: x-large;
    margin-bottom: 0;
}

#cite {
    color: rgb(164, 164, 164);
    margin-left: auto;
}


/* SECTION 4 */
#content-4 {
    background-image: url("./images/Menu_Theme_The_Grimm_Troupe.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-image: radial-gradient(rgb(113, 0, 0) , black);
    padding: 20px 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}


/* Buttons */
button {
    align-self: center;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px 6px;
    font-weight: bold;
}

button:hover {
    background-color: #0078a0;
    color: white;
}


/* Footer */
footer {
    background-color: radial-gradient(#000f58 , black);
    text-align: center;
    padding: 20px;
}